<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarat</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <div class="header-logo">skoool.kg</div>
                <div class="header-section">Домашние задании</div>
                <div class="header-profile">Мамбет Мамбетов</div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="form">
            <div class="form-up-block"></div>
            <div class="form-recipients">
                <label>Grade:</label>
                <select name="grade">
                    <>
                </select>
            </div>
            <div class="form-subject">Recipients:</div>
            
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>