main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table {
    max-width: 100%;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: white;
}


th {
    background-color: #404040;
    color: #fff;
}

th, td {
    text-align: left;
    padding: 0.5em 1em;
}
.lang-edit-class {
    color: #0000ff;
}