@model List<BLL.ViewModels.SchoolViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Schools</title>
</head>
<body>
    <p>
        <a asp-action="SchoolCreate">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                   
                    <td>
                        <a href="/Admin/SchoolEdit?id=@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
