@{
    ViewData["Title"] = "Distribution";
}

<link rel="stylesheet" href="~/css/Home/distribution.css"/>
<div class="distribution">
    <div class="container">
        <main>
            <table id="table">
                <tr>
                    <th><span class="lang-surname"></span></th>
                    <th><span class="lang-name"></span></th>
                    <th></th>
                </tr>
            </table>
        </main>
    </div>
</div>
<script src="~/js/Home/distribution.js"></script>